<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Received message</title>
    <script src="/static/centrifuge.js" type="text/javascript"></script>
    <script src="/static/jquery-1.11.1.min.js" type="text/javascript"></script>
</head>
<body>

<ul>
</ul>

<script type="text/javascript">

    var centrifuge = new Centrifuge({
        url: "{{ connect_info.url }}",
        user: "{{ connect_info.user }}",
        timestamp: "{{ connect_info.timestamp }}",
        token: "{{ connect_info.token }}"
    });

    centrifuge.subscribe("{{channel}}", function(message) {
        console.log(message);
        $("ul").append("<li>received: " + message['data'] + "</li>");
    });

    centrifuge.connect();


</script>

</body>
</html>
